      <table id='participants'nowrap>
        <tr>
          <th>Who</th>
          <th>Twitter</th>
          <th>Blog link</th>
          <th>Start Week</th>
          <th>&nbsp;</th>
        </tr>
% for u in sorted(userlist, key=lambda u:u.username):
        <tr>
          <td align="left" valign="top">${u.name}</td>
          <td align="left" valign="top">
          % if u.twitter != False:
            <a href="https://twitter.com/#!/${u.username}">@${u.username}</a>
          % endif
          </td>
          <td align="left" valign="top">
           % if u.links:
            % for a in u.links:
           <a href="${a[1]}">${a[0]}</a>
            % endfor
           % else:
             Undecided
           % endif
          </td>
          <td align="left" valign="top"> ${u.start_de} </td>
          <td align="left" valign="top">
          % if u.end:
            Punted<br>
          % endif
          % if u in skipped_users:
            Skipped
          % endif
          </td>


        </tr>
% endfor
      </table>
