      <table id='participants'nowrap>
        <tr>
          <th>Name</th>
          <th>Twitter</th>
          <th>Blog</th>
          <th>Start</th>
          <th>nicht gewertet</th>
        </tr>
% for u in sorted(userlist, key=lambda u:u.name[u.name.find(' '):].lower()):
        <tr>
          <td align="left" valign="top">${u.name}</td>
          <td align="left" valign="top">
          % if u.twitter != False:
            @<a href="http://twitter.com/${u.username}">${u.username}</a>
          % endif
          </td>
          <td align="left" valign="top">
           % if u.links:
            % for a in u.links:
           <a href="${a[2]}">${a[1]}</a>
            % endfor
           % else:
             fehlt noch
           % endif
          </td>
          <td align="left" valign="top"> ${u.start_de} </td>
          <td align="left" valign="top">
          % if u.end:
            Ausgeschieden<br>
          % endif
          % if u.skip:
            ${u.skip}
          % endif
          </td>


        </tr>
% endfor
      </table>
